.card {
  width: 18rem;

  &-img-top {
    height: 25rem;
    object-fit: cover;
  }

  &-title {
    min-height: 4rem;
  }
}

.trailers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .card {
    flex-basis: 49%;
  }
}
